.main {
  margin: var(--size-m) 0;
}

.label {
  display: block;
  font-size: var(--font-size-s);
  color: var(--color-secondary);
  margin: var(--size-s) 0;
}

.input {
  width: 100%;
  padding: var(--size-m);
  font-size: var(--font-size-m);
  color: var(--color-main);
  border: 1px solid var(--color-secondary);
  border-radius: var(--input-border-radius);
}

.input:disabled {
  background-color: var(--bg-disabled);
  color: var(--color-disabled);
}
